#course_id {
  margin: 5px;
  border: 1px solid black;
  padding: 5px;
}

#results {
  margin: 0 20px;
}

#content {
  display: none;
}

.course > header {
  margin: 20px;
  text-align: center;
  font-size: 24px;
  line-height: 24px;
}

.folder > article {
/*  border: solid black;
  border-width: 1px 0 0 1px;*/
  padding-left: 30px;
}

.folder > header.collapse > .open-folder {
  display: none;
}

.folder > header:not(.collapse) > .close-folder {
  display: none;
}

header > svg {
  position: relative;
  top: 5px;
  margin: 0 5px;
}

.folder header:hover {
  background-color: rgba(0, 200, 0, 0.2);
}


section > nav {
  display: inline-block;
  line-height: 50px;
}

section > nav > div {
  display: inline-block;
  width: 12px;
  line-height: 50px;
  box-sizing: border-box;
  /*border-right: 1px solid black;*/
}

section > nav > div.off {
  background-color: transparent !important;
}
/*
section > nav > div::before {
  content: '.';
  color: transparent;
}*/

section > header {
  /*display: inline-block;*/
  line-height: 50px;
}

section.folder > header {
  cursor: pointer;
}

section:not(.folder) > header > svg {
  cursor: pointer;
}

section.folder > header.collapse ~ article, section.folder > header.collapse ~ section {
  display: none;
}


/* Future show/hide for plugin details */
.plugin-issues > div {
  /*display: none;*/
}

.plugin-result {
  margin-left: 35px;
}

.plugin-result.hide {
  display: none;
}

.hide {
  display: none;
}

.plugin-result p {
  padding: 10px 0;
}

.plugin-result ul {
  margin-left: 40px;
}

.plugin-result li {
  padding: 5px;
}


.folder > header {
  /*background-color: rgba(0, 200, 0, 0.2);*/
}

header.bob ~ section.plugin-issues > .bob

.slice {
  /*font-size: 32px;*/
  /*float: right;*/
  padding: 0 3px;
}

.slice::before {
  content: '-';
}





/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    /*border-bottom: 1px dotted black;  If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

.tooltip-left {
    top: -5px;
    bottom: auto;
    right: 128%;
}

.tooltip-left::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #555;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}
