#course_id {
  margin: 5px;
  border: 1px solid black;
  padding: 5px;
}

.course > header {
  margin: 20px;
  text-align: center;
  font-size: 24px;
  line-height: 24px;
}

section.folder {
  background-color: rgba(164, 199, 244, 0.2);
}

section.folder.collapse::before {
  content: '';
}

section.folder > header.collapse ~ article, section.folder > header.collapse ~ section {
  display: none;
}

section.folder > header {
  margin-left: 20px;
  font-size: 32px;
  line-height: 64px;

  overflow-wrap: break-word;
}

section.folder > article, section.folder > section {
  margin-left: 50px;
}

section.folder > article {
  line-height: 50px;
}

/*Item Title*/

article > header {
  font-weight: bold;
}

/*Folder Title*/

section > header {

}

li {
  list-style: none;
}

.slice {
  font-size: 32px;
  float: right;
  padding: 0 3px;
}

.slice::before {
  content: '-';
}


/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    /*border-bottom: 1px dotted black;  If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

.tooltip-left {
    top: -5px;
    bottom: auto;
    right: 128%;
}

.tooltip-left::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #555;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

